*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
   
    background-color: #080606;
     display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 40px;
    width: 70px;
  
    font-size: large;
    font-weight: 400;
}